@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --header-size: 3vw;
  --subheader-size: 1.5vw;
  --button-size: 1.5vw;
  --text-size: 1.5vw;
  --sidebar-header: 2.2vw;
  --tab-size: 1.5vw;
  --section-title: 3.5vw;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
  --sidebar: #d7e4fb;
  --destruct: #b60000;
  --balance-one: #0642bb;
  --balance-two: #009dff;
  --bank-card: #1e51b8;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #2d73fe;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #0b1734;
  --sidebar: #09132a;
  --destruct: #b30000;
  --balance-one: #003399;
  --balance-two: #0095ff;
  --bank-card: #114fcd;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background);
}

/* positions the sidebar and main section side by side */
.overview-page-container {
  display: flex;
}

/* sidebar styling */
.apex-user-sidebar {
  width: 19vw;
  top: 0;
  position: sticky;
  height: 100vh;
  overflow: hidden;
  background-color: var(--sidebar);
}

/* sidebar layout */
.apex-user-sidebar {
  display: grid;
  grid-template-areas:
    "logo"
    "tab"
    "config";
  grid-template-rows: 16% 55% 29%;
  grid-row-gap: 1%;
}

.apex-logo-container {
  grid-area: logo;
  border: 0px solid red;
}

.apex-tab-container {
  grid-area: tab;
  border: 0px solid hotpink;
}

.apex-config-container {
  grid-area: config;
  border: 0px solid green;
}

/* apex-logo-container layout */
.apex-logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12%;
}

.apex-logo-container img {
  width: 2.1em;
  height: auto;
  margin-right: 10px;
}

.apex-logo-container h1 {
  font-size: var(--sidebar-header);
  background-image: linear-gradient(
    to right,
    #0038a8,
    #246af8,
    #0084ff,
    #1f5cd6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 5s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* apex-tab-container layout */
.apex-tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.apex-tab-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 0px solid saddlebrown;
}

.tab-section .material-icons {
  font-size: 1.2em;
}

.tab-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  color: var(--text);
  font-weight: 500;
  font-size: var(--tab-size);
  position: relative;
  border: 0px solid blue;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.tab-section:hover::before {
  opacity: 0.5;
}

.tab-section:hover {
  color: var(--primary);
  transform: translateX(5px);
}

/* turns the current tab color to selected color */
.apex-tab-wrapper #overview {
  color: var(--primary);
}

/* removes the theme tab slide effect */
.apex-tab-wrapper #theme:hover {
  transform: translateX(0px);
}

/* modify the color of the logout tab */
.apex-tab-wrapper #logout {
  color: var(--destruct);
}

.apex-tab-wrapper #logout::before {
  background-color: #ab0000;
}

.apex-tab-wrapper #logout:hover::before {
  opacity: 0.2;
}

/* ---------- OVERVIEW SECTION STYLING ---------- */
.apex-overview-section {
  flex: 1;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
  color: var(--text);
  height: 100vh;
}

.apex-overview-section h2 {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.4vw;
}

/* H2 ICONS */
.apex-overview-section span {
  margin-right: 0.5em;
}

/* ----- HEADING STYLE ----- */
#overview_heading {
  border: 0px dashed blue;
}

#overview_heading h1 {
  color: var(--text);
  font-size: var(--section-title);
}

#overview_heading h1 span {
  color: var(--primary);
}

/* ----- CONTAINER STYLE ----- */
#overview_container_one {
  display: flex;
  max-width: 100%;
  gap: 2%;
  padding-top: 1.25em;
}

#overview_container_two {
  display: flex;
  max-width: 100%;
  gap: 2%;
  padding-top: 1.25em;
}

#overview_container_two span {
  margin-left: 0.5em;
}

/* ----- ACC SUMMARY STYLE ----- */
#overview_summary {
  height: 10vw;
  width: 80%;
  border-radius: 10px;
  padding: 1em 1.5em;
  background-color: var(--backdrop);
}

#summary_content {
  display: flex;
  margin-top: 1.75vw;
}

#account_image {
  width: 7%;
  border: 0px solid red;
}

#account_image img {
  width: 100%;
}

/* column container for summary */
#summary_column_container {
  display: flex;
  flex-direction: column;
  margin-left: 2.4vw;
}

#summary_column_container h3 {
  font-weight: 600;
  margin-bottom: 0.3em;
  color: var(--primary);
  font-size: 1.2vw;
}

#summary_column_container span {
  font-size: 1.2vw;
}

#summary_content h3 {
  display: flex;
  align-items: center;
}

#summary_content .material-icons {
  margin-right: 0.5em;
}

/* ----- ACC BALANCE STYLE ----- */

#overview_balance {
  height: 10vw;
  width: 23%;
  border-radius: 10px;
  padding: 1em;
  background: linear-gradient(
    to bottom right,
    var(--balance-one),
    var(--balance-two)
  );
}

#overview_balance h2 {
  font-size: 1.5vw;
  font-weight: 500;
  color: rgb(231, 240, 252);
}

#overview_balance h3 {
  margin-top: 0.5em;
  font-size: 2vw;
  font-weight: 600;
  color: rgb(231, 240, 252);
}

/* ----- CARD INFO STYLE ----- */
#overview_card_info {
  width: 30%;
  padding-top: 1.1em 0em;
  margin-top: 1em;
}

#apex_card {
  margin-top: 1em;
  padding: 1.25em;
  height: 25vh;
  border-radius: 10px;
  background-color: var(--bank-card);
  color: #e7edfb;
}

#card_row {
  display: flex;
  justify-content: space-between;
  height: 2.75em;
}

#card_brand_text h3 {
  font-size: 1.4vw;
  font-weight: 500;
}

#card_brand_logo {
  text-align: end;
  width: 3em;
}

#card_brand_logo img {
  width: 70%;
}

#card_chip img {
  width: 13%;
}

#card_number h3 {
  margin-top: 0.25em;
  font-size: 1.5vw;
  font-family: "Space Mono", sans-serif;
  font-weight: 500;
}

#card_row_two {
  display: flex;
  gap: 2em;
}

#card_row_two h4 {
  font-size: 1vw;
  font-weight: 400;
  opacity: 0.8;
}

#card_row_two span {
  font-size: 1vw;
  font-weight: 500;
  font-family: "Space Mono", sans-serif;
}

#card_valid,
#card_cvv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#addtl_card_info {
  margin-top: 1.5em;
  padding: 1em;
  height: 16.5vh;
  border-radius: 10px;
  background-color: var(--backdrop);
}

#addtl_card_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.1em;
}

#addtl_card_info h3 {
  font-weight: 600;
  font-size: 1vw;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

#addtl_card_info span {
  margin: 0;
  padding-right: 0.4em;
  font-size: 1vw;
}

#card_status_content {
  color: rgb(0, 160, 0);
  padding: 0.1em 0.2em;
  border-radius: 5px;
  background-color: rgba(1, 182, 1, 0.271);
}

#card_status_title h4,
#card_designation_title h4,
#card_currency_title h4 {
  font-size: 1vw;
  font-weight: 500;
}

#card_status_content h4,
#card_designation_content h4,
#card_currency_content h4 {
  font-size: 1vw;
  font-weight: 600;
}

/* ----- STATS STYLE ----- */
#overview_stats {
  margin-top: 1em;
  width: 25%;
}

#stats_content {
  margin-top: 1em;
  padding: 1.25em;
  height: 45vh;
  border-radius: 10px;
  background-color: var(--backdrop);
}

#stats_content h4 {
  font-weight: 500;
  font-size: 1.1vw;
}

#stats_wrapper {
  height: 9.5vw;
}

/* ----- RECENT TRANSACTIONS STYLE ----- */
#overview_recent_transactions {
  width: 45%;
  padding-top: 1.1em 0em;
  margin-top: 1em;
}

#recent_transactions_row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#view_all_transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

#view_all_transactions a {
  position: relative;
  text-decoration: none; /* Remove the default underline */
}

#view_all_transactions a::before {
  content: "";
  position: absolute;
  width: 92%;
  height: 2px;
  background-color: var(--primary);
  bottom: 0;
  left: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

#view_all_transactions a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

#view_all_transactions a {
  font-size: 1.2vw;
  padding-right: 0.25em;
  text-decoration: none;
  color: var(--primary);
}

#view_all_transactions span {
  font-size: 1.1vw;
  margin-left: 0;
  margin-right: 0;
}

/* transactions table */

#transactions_content {
  margin-top: 1em;
  height: 45vh;
  border-radius: 10px;
  background-color: var(--backdrop);
  padding: 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

#account_name_heading {
  width: 45%;
}

th {
  padding-left: 10px;
  font-size: 1.1vw;
  text-align: left;
  font-weight: 600;
  color: var(--primary);
  padding-bottom: 0.75em;
  box-sizing: content-box;
}

th i {
  font-size: 0.8em;
  margin-right: 0.25em;
}

td {
  padding: 10px;
  text-align: left;
}

#logout {
  cursor: pointer;
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 15%;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 4px;
  position: relative;
  height: 1.3vw;
  width: 3vw;
  transform: scale(1);
}

.label .ball {
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 0.1em;
  left: 2px;
  height: 0.95vw;
  width: 0.95vw;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(1.65vw);
}

.fa-moon,
.fa-sun {
  margin-top: 1px;
  font-size: 0.52em;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}
