@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --header-size: 3vw;
  --subheader-size: 1.5vw;
  --button-size: 1.5vw;
  --text-size: 1.5vw;
  --sidebar-header: 2.2vw;
  --tab-size: 1.5vw;
  --section-title: 3.5vw;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
  --sidebar: #d7e4fb;
  --destruct: #b60000;
  --ball: #cee0ff;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #246af8;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #081023;
  --sidebar: #09132a;
  --destruct: #b30000;
  --ball: #2d73fe;
}

* {
  margin: 0;
  padding: 0;
  border: 2;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background);
}

/* positions the sidebar and main section side by side */
.transfer-page-container {
  display: flex;
}

/* sidebar styling */
.apex-user-sidebar {
  width: 19vw;
  top: 0;
  position: sticky;
  height: 100vh;
  overflow: hidden;
  background-color: var(--sidebar);
}

/* sidebar layout */
.apex-user-sidebar {
  display: grid;
  grid-template-areas:
    "logo"
    "tab"
    "config";
  grid-template-rows: 16% 55% 29%;
  grid-row-gap: 1%;
}

.apex-logo-container {
  grid-area: logo;
  outline: 0px solid red;
}

.apex-tab-container {
  grid-area: tab;
  outline: 0px solid hotpink;
}

.apex-config-container {
  grid-area: config;
  outline: 0px solid green;
}

/* apex-logo-container layout */
.apex-logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12%;
}

.apex-logo-container img {
  width: 2.1em;
  height: auto;
  margin-right: 10px;
}

.apex-logo-container h1 {
  font-size: var(--sidebar-header);
  background-image: linear-gradient(to right, #0038a8, #246af8, #0084ff, #1f5cd6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 5s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* apex-tab-container layout */
.apex-tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.apex-tab-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  outline: 0px solid saddlebrown;
}

.tab-section .material-icons {
  font-size: 1.2em;
}

.tab-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  color: var(--text);
  font-size: var(--tab-size);
  font-weight: 500;
  position: relative;
  outline: 0px solid blue;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.tab-section:hover::before {
  opacity: 0.5;
}

.tab-section:hover {
  color: var(--primary);
  transform: translateX(5px);
}

/* turns the current tab color to selected color */
.apex-tab-wrapper #transfer {
  color: var(--primary);
}

/* removes the theme tab slide effect */
.apex-tab-wrapper #theme:hover {
  transform: translateX(0px);
}

/* modify the color of the logout tab */
.apex-tab-wrapper #logout {
  color: var(--destruct);
}

.apex-tab-wrapper #logout::before {
  background-color: #ab0000;
}

.apex-tab-wrapper #logout:hover::before {
  opacity: 0.2;
}

/*transfer main page */
.apex-transfer-container {
  flex: 1;
  display: grid;
  grid-template-areas: "form side";
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
  border: 0px dashed red;
  grid-template-columns: 60% 40%;
}

.transfer-form {
  grid-area: form;
  margin-right: 1em;
  border: 0px dashed green;
}

.transfer-side {
  grid-area: side;
  margin-left: 1em;
  border: 0px dashed blueviolet;
}

/*transfer heading */
#transfer-heading {
  border: 0px dashed orange;
}

#transfer-heading h1 {
  padding-bottom: 0.25em;
  color: var(--primary);
  font-size: var(--section-title);
  border: 0px dashed blueviolet;
}

/*transfer option styling */
.transfer-option {
  display: flex;
  border: 0px dashed blueviolet;
}

.internal-transfer-desc,
.external-transfer-desc {
  border: 0px dashed black;
  margin-top: 1em;
  display: none;
}

.internal-transfer-desc h2,
.external-transfer-desc h2 {
  color: var(--text);
  font-weight: 400;
  font-size: 1.3vw;
  transition: color 0.3s ease-in-out;
}

/*transfer form general styling*/
.transfer-form-wrapper form {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  border: 0px dashed blue;
}

.transfer-form-wrapper form label {
  font-weight: 600;
  color: var(--text);
  font-size: var(--subheader-size);
  transition: color 0.3s ease-in-out;
}

.transfer-form-wrapper input {
  margin-bottom: 2em;
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--text-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.transfer-form-wrapper input::placeholder {
  color: var(--text);
  opacity: 0.25;
}

/* Common styles for both light and dark themes */
.transfer-form-wrapper select {
  margin-bottom: 2em;
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--text-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.form-group:focus-within label,
.form-group input:focus,
.form-group select:focus {
  color: var(--accent);
}

.form-group input:focus,
.form-group select:focus {
  border-bottom: 2px solid var(--primary);
}

.form-group select option {
  background-color: var(--backdrop);
  color: var(--text); /* Set the desired text color for options */
}

/* forms transition */
.transfer-form-wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show-form {
  display: block;
  opacity: 1;
}

.transfer-buttons {
  display: flex;
  gap: 1em;
}

.transfer-buttons #submit_fund_transfer,
.transfer-buttons #submit_external {
  width: 80%;
}

.transfer-buttons #reset {
  width: 20%;
  background-color: #bdd3ff;
  color: #183d87;
}

.transfer-form-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--button-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, 
    box-shadow 0.3s ease-in-out, 
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden; 
}

.transfer-form-wrapper button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.transfer-form-wrapper button:active {
  transform: scale(0.95);
}

.transfer-form-wrapper button span {
  margin-left: 0.5em;
  font-size: 1em;
  transition: transform 0.3s ease-in-out;

}

.transfer-form-wrapper button:hover span {
  transform: translateX(7px); 
}

.transfer-option button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1.75em;
  padding-bottom: 0.25em;
  font-weight: 600;
  color: var(--text);
  font-size: var(--button-size);
  transition: color 0.4s, text-decoration 0.4s;
  position: relative;
  display: flex;
  align-items: center;
}

.transfer-option button.active,
.transfer-option button:hover {
  color: var(--primary);
}

.transfer-option button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--primary);
  transition: width 0.4s;
}

.transfer-option button.active::before {
  width: 100%;
}

.transfer-option #internal-transfer-btn {
  margin-left: 0em;
}

.transfer-option span {
  font-size: 1em;
  margin-right: 0.5em;
}

#internal-transfer-form {
  display: none;
}

/* --------------- TRANSFER SIDE ------------*/
#transfer_mini_account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text);
}

#transfer_mini_account_text {
  text-align: end;
}

#transfer_mini_account_text h3 {
  font-size: 1.4vw;
  font-weight: 600;
}

#transfer_mini_account_text h4 {
  font-size: 1.25vw;
  font-weight: 400;
}

#transfer_mini_account_image {
  width: 12%;
  margin-left: 1.25em;
}

#transfer_mini_account_image img {
  width: 100%;
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 15%;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 4px;
  position: relative;
  height: 1.3vw;
  width: 3vw;
  transform: scale(1);
}

.label .ball {
  background-color: var(--ball);
  border-radius: 50%;
  position: absolute;
  top: 0.1em;
  left: 3px;
  height: 0.95vw;
  width: 0.95vw;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(1.65vw);
}

.fa-moon,
.fa-sun {
  margin-top: 1px;
  font-size: 0.52em;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}