@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --header-size: 3vw;
  --subheader-size: 1.5vw;
  --button-size: 1.5vw;
  --text-size: 1.5vw;
  --sidebar-header: 2.2vw;
  --tab-size: 1.5vw;
  --section-title: 3.5vw;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
  --sidebar: #d7e4fb;
  --destruct: #b60000;
  --ball: #cee0ff;
  --close: #a80404;
  --modal: #d7e4fb;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #246af8;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #081023;
  --sidebar: #09132a;
  --destruct: #b30000;
  --ball: #2d73fe;
  --close: #b80000;
  --modal: #0d1c3f;
}

* {
  margin: 0;
  padding: 0;
  border: 2;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background);
}

/* positions the sidebar and main section side by side */
.transfer-page-container {
  display: flex;
}

/* sidebar styling */
.apex-user-sidebar {
  width: 19vw;
  top: 0;
  position: sticky;
  height: 100vh;
  overflow: hidden;
  background-color: var(--sidebar);
}

/* sidebar layout */
.apex-user-sidebar {
  display: grid;
  grid-template-areas:
    "logo"
    "tab"
    "config";
  grid-template-rows: 16% 55% 29%;
  grid-row-gap: 1%;
}

.apex-logo-container {
  grid-area: logo;
  outline: 0px solid red;
}

.apex-tab-container {
  grid-area: tab;
  outline: 0px solid hotpink;
}

.apex-config-container {
  grid-area: config;
  outline: 0px solid green;
}

/* apex-logo-container layout */
.apex-logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12%;
}

.apex-logo-container img {
  width: 2.1em;
  height: auto;
  margin-right: 10px;
}

.apex-logo-container h1 {
  font-size: var(--sidebar-header);
  background-image: linear-gradient(
    to right,
    #0038a8,
    #246af8,
    #0084ff,
    #1f5cd6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 5s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* apex-tab-container layout */
.apex-tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.apex-tab-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  outline: 0px solid saddlebrown;
}

.tab-section .material-icons {
  font-size: 1.2em;
}

.tab-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  color: var(--text);
  font-size: var(--tab-size);
  font-weight: 500;
  position: relative;
  outline: 0px solid blue;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.tab-section:hover::before {
  opacity: 0.5;
}

.tab-section:hover {
  color: var(--primary);
  transform: translateX(5px);
}

/* turns the current tab color to selected color */
.apex-tab-wrapper #transfer {
  color: var(--primary);
}

/* removes the theme tab slide effect */
.apex-tab-wrapper #theme:hover {
  transform: translateX(0px);
}

/* modify the color of the logout tab */
.apex-tab-wrapper #logout {
  color: var(--destruct);
}

.apex-tab-wrapper #logout::before {
  background-color: #ab0000;
}

.apex-tab-wrapper #logout:hover::before {
  opacity: 0.2;
}

/*transfer main page */
.apex-transfer-container {
  flex: 1;
  display: grid;
  grid-template-areas: "form side";
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
  border: 0px dashed red;
  grid-template-columns: 50% 50%;
}

.transfer-form {
  grid-area: form;
  margin-right: 1em;
  border: 0px dashed green;
}

.transfer-side {
  grid-area: side;
  margin-left: 1em;
  border: 0px dashed blueviolet;
}

/*transfer heading */
#transfer-heading {
  border: 0px dashed orange;
}

#transfer-heading h1 {
  padding-bottom: 0.25em;
  color: var(--primary);
  font-size: var(--section-title);
  border: 0px dashed blueviolet;
}

/*transfer option styling */
.transfer-option {
  display: flex;
  border: 0px dashed blueviolet;
}

.internal-transfer-desc,
.external-transfer-desc {
  border: 0px dashed black;
  margin-top: 1em;
  display: none;
}

.internal-transfer-desc h2,
.external-transfer-desc h2 {
  color: var(--text);
  font-weight: 400;
  font-size: 1.4vw;
  transition: color 0.3s ease-in-out;
}

/*transfer form general styling*/
.transfer-form-wrapper form {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  border: 0px dashed blue;
}

.transfer-form-wrapper form label {
  font-weight: 600;
  color: var(--text);
  font-size: var(--subheader-size);
  transition: color 0.3s ease-in-out;
}

.transfer-form-wrapper input {
  margin-bottom: 2.75vw;
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--text-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.transfer-form-wrapper input::placeholder {
  color: var(--text);
  opacity: 0.3;
  font-size: 1.25vw;
}

/* Common styles for both light and dark themes */
.transfer-form-wrapper select {
  margin-bottom: 2em;
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--text-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.form-group:focus-within label,
.form-group input:focus,
.form-group select:focus {
  color: var(--accent);
}

.form-group input:focus,
.form-group select:focus {
  border-bottom: 2px solid var(--primary);
}

.form-group select option {
  background-color: var(--backdrop);
  color: var(--text); /* Set the desired text color for options */
}

.form-group label {
  display: flex;
  align-items: center;
}

.form-group label span {
  font-size: 1.1em;
  margin-right: 0.35em;
}

/* forms transition */
.transfer-form-wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show-form {
  display: block;
  opacity: 1;
}

.transfer-buttons {
  display: flex;
  gap: 1em;
}

.transfer-buttons #submit_fund_transfer,
.transfer-buttons #submit_external {
  width: 80%;
}

.transfer-buttons #reset {
  width: 20%;
  background-color: #bdd3ff;
  color: #183d87;
}

.transfer-form-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--button-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.transfer-form-wrapper button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.transfer-form-wrapper button:active {
  transform: scale(0.95);
}

.transfer-form-wrapper button span {
  margin-left: 0.5em;
  font-size: 1em;
  transition: transform 0.3s ease-in-out;
}

.transfer-form-wrapper button:hover span {
  transform: translateX(7px);
}

.transfer-option button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1.75em;
  padding-bottom: 0.25em;
  font-weight: 600;
  color: var(--text);
  font-size: var(--button-size);
  transition: color 0.4s, text-decoration 0.4s;
  position: relative;
  display: flex;
  align-items: center;
}

.transfer-option button.active,
.transfer-option button:hover {
  color: var(--primary);
}

.transfer-option button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--primary);
  transition: width 0.4s;
}

.transfer-option button.active::before {
  width: 100%;
}

.transfer-option #internal-transfer-btn {
  margin-left: 0em;
}

.transfer-option span {
  font-size: 1em;
  margin-right: 0.5em;
}

#internal-transfer-form {
  display: none;
}

/* --------------- TRANSFER SIDE ------------*/
#transfer_mini_account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text);
  margin-top: 0.5vh;
}

#transfer_mini_account_text {
  text-align: end;
}

#transfer_mini_account_text h3 {
  font-size: 1.4vw;
  font-weight: 600;
}

#transfer_mini_account_text h4 {
  font-size: 1.3vw;
  font-weight: 400;
}

#transfer_mini_account_image {
  width: 3.5vw;
  margin-left: 1.45em;
}

#transfer_mini_account_image img {
  width: 100%;
}

/* transfer side image */
#transfer_image_container {
  width: 100%;
  border: 0px dashed black;
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 15%;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.95vw;
  padding: 5px;
  position: relative;
  height: 1.3vw;
  width: 3vw;
  transform: scale(1);
}

.label .ball {
  background-color: var(--ball);
  border-radius: 50%;
  position: absolute;
  top: 0.2vw;
  left: 0.2vw;
  height: 0.9vw;
  width: 0.9vw;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(1.6vw);
}

.fa-moon,
.fa-sun {
  margin-top: 0vw;
  font-size: 0.8vw;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}


/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

svg {
  width: 100%;
}

svg#freepik_stories-credit-card:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #freepik--Floor--inject-17 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #freepik--Plant--inject-17 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #el8goo6fpgjo {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elw4gddx9utgc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.016666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el8tokqun4ymr {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.03333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el3dbwwvo2xgs {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.05s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el4ikv1ybgq9w {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.06666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elevr8syovl44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.08333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elzzola1nxtn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.1s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elr35g9vfdhy {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.11666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elb4o9kbg9xjl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.13333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elqh1543xeecl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.15s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elk1elzwbyb4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.16666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgtnlrb02an {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.18333333333333332s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elcoksx5hsera {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.2s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el9ard7rm0ton {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.21666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el7cg46nzztvf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.23333333333333334s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el7nxtsrwv2k {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.25s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elx3s48qs1n0q {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.26666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elwuy3dz0uo5p {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.2833333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elrtdwid5n85n {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elz6ih2d43acb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.31666666666666665s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elbcvxd9eer09 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eljxy22marp4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.35s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5c1qilvgktd {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.36666666666666664s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el2wa46ejhm2k {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3833333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el4irdbp09s8k {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.4s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elhjmyjf5yhwe {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.4166666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elzvs0k1nyva {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.43333333333333335s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elanxzktnzlzv {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.45s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elefk5mb920j {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.4666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el87ujgufow8e {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.48333333333333334s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el1f0muatzj4u {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el57m7nts4hfa {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5166666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5t2fekk0rke {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eltss3hkzhyh {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.55s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgqk2hhvrlz {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el7m162q5bqph {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5833333333333334s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elleqkgovv1t {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el8em5ljk17to {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6166666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elo5bu2ixehmr {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el0vwhqfc5m1g {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.65s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elvdwiwgjod8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgn6o6l7xc27 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6833333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elrtrpee83p7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eltbgbg2knobj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7166666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgdx78yrc84d {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elk7ra7upcoss {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.75s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el8wec36hqzpx {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elelx2bgfg9zp {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7833333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eleecftyx72y {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elhmzwk908k0l {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8166666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5jo00dloh8t {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8333333333333334s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elb1u64b84hu {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.85s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el2ld4kj3c22o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elymk79mh3zjl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8833333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elvihmbh6cgjq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elhro3i5u4d7h {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9166666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elxtgivp6bmu {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el58lq0r1tgx {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.95s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el4sg4ny8oa55 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elitoaofizhnh {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9833333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #freepik--Device--inject-17 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elcmxpsiogls6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elrxdj096wrgb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.25s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elxn5n9q751fs {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elwowyvrxoym {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0.75s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #freepik--Sparkles--inject-17 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #freepik--Character--inject-17 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight,
    6s Infinite linear wind;
  animation-delay: 0s, 1s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
.animator-hidden {
  display: none;
}

/* ------- LOGOUT STYLING ------- */
.logout-acc-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 45vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  text-align: justify;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out {
  animation: zoomOut 0.5s;
}

#logout_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

.modal-content span {
  font-size: 2.5vw;
  font-weight: 700;
  color: var(--text);
}

#logout_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--text);
}

#confirmation_text {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 2vh;
}

.logout-acc-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.logout-acc-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 6vh;
}

.logout-acc-modal-buttons #cancel_button {
  color: #e1e9fa;
  background-color: var(--primary);
  width: 20%;
}

.logout-acc-modal-buttons #confirm_logout_button {
  color: #fcf6f6;
  background-color: var(--close);
  width: 40%;
}

.logout-acc-modal-buttons #cancel_button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.logout-acc-modal-buttons #confirm_logout_button:hover {
  box-shadow: 0 0 15px rgba(236, 19, 19, 0.5);
}

.logout-acc-modal-buttons button:active {
  transform: scale(0.9);
}

/* ------- CONFIRM DETAILS STYLING ------- */
.confirm-details-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.confirm-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 58vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  text-align: justify;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out-confirm {
  animation: zoomOut 0.5s;
}

#confirm_details_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

#confirm_details_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--primary);
}

.confirm-modal-content i {
  font-size: 2.3vw;
  color: var(--primary);
}

#confirmation_details_desc {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 3vh;
}

#confirmation_details_display {
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1.5;
}

#confirmation_details_display strong {
  font-weight: 600;
}


.confirm-details-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

#confirm_transfer_button span {
  font-size: 1.3vw;
  margin-left: 0.75vw;
  transition: transform 0.3s ease-in-out;
}

.confirm-details-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 6vh;
}

.confirm-details-modal-buttons #confirm_transfer_button {
  color: #e1e9fa;
  background-color: var(--primary);
  width: 45%;
}

.confirm-details-modal-buttons #cancel_confirm_button {
  color: rgb(0, 61, 166);
  background-color: #bdd3ff;
  width: 20%;
}

.confirm-details-modal-buttons #confirm_transfer_button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.confirm-details-modal-buttons #confirm_transfer_button:hover span {
  transform: translateX(5px);
}

.confirm-details-modal-buttons #cancel_confirm_button:hover {
  box-shadow: 0 0 15px rgba(102, 168, 255, 0.5);
}

.confirm-details-modal-buttons button:active {
  transform: scale(0.9);
}

/* ------- TRANSFER ERROR MODAL STYLING ------- */
.transfer-error-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.transfer-error-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 40vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  text-align: justify;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out-confirm {
  animation: zoomOut 0.5s;
}

#transfer_error_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

#transfer_error_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--primary);
}

.transfer-error-modal-content i {
  font-size: 2.3vw;
  color: var(--primary);
}

#transfer_error_desc {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 4vh;
}

.transfer-error-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.transfer-error-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 6vh;
}


.transfer-error-modal-buttons #try_again_button {
  color: rgb(0, 61, 166);
  background-color: #bdd3ff;
  width: 20%;
}

.transfer-error-modal-buttons #try_again_button:hover {
  box-shadow: 0 0 15px rgba(102, 168, 255, 0.5);
}

.transfer-error-modal-buttons button:active {
  transform: scale(0.9);
}