@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --header-size: 3vw;
  --subheader-size: 1.5vw;
  --button-size: 1.5vw;
  --text-size: 1.5vw;
  --sidebar-header: 2.2vw;
  --tab-size: 1.5vw;
  --section-title: 3.5vw;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
  --sidebar: #d7e4fb;
  --destruct: #b60000;
  --ball: #cee0ff;
  --close: #a80404;
  --modal: #d7e4fb;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #2d73fe;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #0b1734;
  --sidebar: #09132a;
  --destruct: #b30000;
  --ball: #2d73fe;
  --close: #b80000;
  --modal: #0d1c3f;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background);
}

/* positions the sidebar and main section side by side */
.transactions-page-container {
  display: flex;
}

/* sidebar styling */
.apex-user-sidebar {
  width: 19vw;
  top: 0;
  position: sticky;
  height: 100vh;
  overflow: hidden;
  background-color: var(--sidebar);
}

/* sidebar layout */
.apex-user-sidebar {
  display: grid;
  grid-template-areas:
    "logo"
    "tab"
    "config";
  grid-template-rows: 16% 55% 29%;
  grid-row-gap: 1%;
}

.apex-logo-container {
  grid-area: logo;
  border: 0px solid red;
}

.apex-tab-container {
  grid-area: tab;
  border: 0px solid hotpink;
}

.apex-config-container {
  grid-area: config;
  border: 0px solid green;
}

/* apex-logo-container layout */
.apex-logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12%;
}

.apex-logo-container img {
  width: 2.1em;
  height: auto;
  margin-right: 10px;
}

.apex-logo-container h1 {
  font-size: var(--sidebar-header);
  background-image: linear-gradient(
    to right,
    #0038a8,
    #246af8,
    #0084ff,
    #1f5cd6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 5s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* apex-tab-container layout */
.apex-tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.apex-tab-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 0px solid saddlebrown;
}

.tab-section .material-icons {
  font-size: 1.2em;
}

.tab-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  color: var(--text);
  font-weight: 500;
  font-size: var(--tab-size);
  position: relative;
  border: 0px solid blue;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.tab-section:hover::before {
  opacity: 0.5;
}

.tab-section:hover {
  color: var(--primary);
  transform: translateX(5px);
}

/* turns the current tab color to selected color */
.apex-tab-wrapper #transactions {
  color: var(--primary);
}

/* removes the theme tab slide effect */
.apex-tab-wrapper #theme:hover {
  transform: translateX(0px);
}

/* modify the color of the logout tab */
.apex-tab-wrapper #logout {
  color: var(--destruct);
}

.apex-tab-wrapper #logout::before {
  background-color: #ab0000;
}

.apex-tab-wrapper #logout:hover::before {
  opacity: 0.2;
}

/* ---------- TRANSACTIONS SECTION STYLING ---------- */
.apex-transactions-section {
  flex: 1;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
  color: var(--text);
  height: 100vh;
}

/* ----- CONTAINER ONE STYLE ----- */
#transaction_container_one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#transactions_heading h1 {
  color: var(--primary);
  font-size: var(--section-title);
}

/* Mini account */
#transactions_mini_account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text);
}

#transactions_mini_account_text {
  text-align: end;
  margin-bottom: 0.5vw;
}

#transactions_mini_account_text h3 {
  font-size: 1.4vw;
  font-weight: 600;
}

#transactions_mini_account_text h4 {
  font-size: 1.25vw;
  font-weight: 400;
}

#transactions_mini_account_image {
  width: 3.5vw;
  margin-bottom: 0.5vw;
  margin-left: 1.45em;
}

#transactions_mini_account_image img {
  width: 100%;
}

/* ----- CONTAINER TWO STYLE ----- */
#transaction_container_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
  font-size: 1.2vw;
  font-weight: 500;
}

.transaction-type-options {
  display: flex;
  gap: 2vw
}

.transaction-type-options label {
  margin-right: 0.5vw;
}

.transaction-type-options select,
.transaction-type-options input {
  height: 2.3vw;
  padding: 0.3vw;
  font-size: 1.2vw;
  border-radius: 0.3em;
  color: var(--text);
  background-color: var(--backdrop);
  cursor: pointer;
}

.transaction-filter-by-date span {
  margin: 0vw 0.5vw;
}

/* ----- CONTAINER TWO THREE ----- */
#transaction_container_three {
  margin-top: 3vh;
  font-size: 1.1vw;
  border-radius: 0.5em;
  background-color: var(--backdrop);
  max-height: 70vh;
  overflow-x: auto; /* Corrected placement */
}

#transaction_table {
  width: 100%;
  border-collapse: collapse;
}

#transaction_table th {
  padding: 0.75vw;
  font-weight: 600;
  text-align: center;
  color: rgb(224, 239, 255);
  background-color: var(--primary);
  position: sticky;
  top: 0;
}

#transaction_table td {
  padding: 1.5vw 0.75vw;
  text-align: center;
}

#transaction_table tr {
  border-bottom: 0.05em solid rgba(0, 89, 255, 0.2); /* Use border-bottom for row borders */
}

#transaction_table tr:last-child {
  border-bottom: none; /* Remove border for the last row to prevent extra space */
}

/* ------- MODAL STYLING ------- */
.logout-acc-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 45vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  text-align: justify;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out {
  animation: zoomOut 0.5s;
}

#logout_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

.modal-content span {
  font-size: 2.5vw;
  font-weight: 700;
  color: var(--text);
}

#logout_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--text);
}

#confirmation_text {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 2vh;
}

.logout-acc-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.logout-acc-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 6vh;
}

.logout-acc-modal-buttons #cancel_button {
  color: #e1e9fa;
  background-color: var(--primary);
  width: 20%;
}

.logout-acc-modal-buttons #confirm_logout_button {
  color: #fcf6f6;
  background-color: var(--close);
  width: 40%;
}

.logout-acc-modal-buttons #cancel_button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.logout-acc-modal-buttons #confirm_logout_button:hover {
  box-shadow: 0 0 15px rgba(236, 19, 19, 0.5);
}

.logout-acc-modal-buttons button:active {
  transform: scale(0.9);
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 15%;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.95vw;
  padding: 5px;
  position: relative;
  height: 1.3vw;
  width: 3vw;
  transform: scale(1);
}

.label .ball {
  background-color: var(--ball);
  border-radius: 50%;
  position: absolute;
  top: 0.2vw;
  left: 0.2vw;
  height: 0.9vw;
  width: 0.9vw;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(1.6vw);
}

.fa-moon,
.fa-sun {
  margin-top: 0vw;
  font-size: 0.8vw;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}
