@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --title-size: 3vw;
  --header-size: 3.7vw;
  --button-size: 1.5vw;
  --text-size: 1.4vw;
  --otp-size: 2.5vw;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #246af8;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #0c1d44;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0em;
  padding: 0;
  height: 100vh;
  overflow-x: hidden; /*hides the overflow section */
  box-sizing: border-box;
  background-color: var(--background);
}

/* otp page grid layout */
#transfer_message_grid_container {
  display: grid;
  grid-template-areas:
    "header image"
    "login image"
    "login image";
  grid-template-rows: 0.23fr 1fr;
  grid-template-columns: 1fr 1fr;
}

#header_container {
  grid-area: header;
  outline: 0px dashed blue;
}

#back_container {
  grid-area: back;
  outline: 0px dashed red;
}

#transfer_message_container {
  grid-area: login;
  outline: 0px dashed green;
}

#transfer_message_image_container {
  height: 100vh;
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 0px solid red;
}

/* header styling */
#header_container {
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  color: var(--text);
  align-items: center;
  justify-content: space-between;
}

#apex_logo {
  display: flex;
  align-items: center;
}

#apex_logo img {
  width: 45px;
  height: auto;
  margin-right: 15px;
}

#apex_logo h1 {
  font-weight: 700;
  font-size: var(--title-size);
  background-image: linear-gradient(
    to right,
    #0038a8,
    #246af8,
    #0084ff,
    #1f5cd6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 3s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* back button styling */
#back_container {
  padding-left: 3em;
}

#back_container i {
  font-size: 1.2vw;
  margin-top: 0.05em;
  margin-right: 0.5em;
  color: var(--accent);
}

#back_container a {
  font-size: 1.4vw;
  color: var(--accent);
  text-decoration: none;
  display: flex;
  align-items: center;
}

#back_container a:hover {
  animation: backSlideLeft 1s infinite;
}

#back_container a:hover i,
#back_container a:hover span {
  animation: backSlideLeft 1s infinite;
}

@keyframes backSlideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

/* otp text styling */
#transfer_message_container {
  padding-left: 3em;
}

#tranfer_message_text {
  max-width: 88%;
  line-height: 1.5;
  text-align: justify;
}

#tranfer_message_text i {
  font-size: 0.9em;
  margin-right: 2.5%;
  color: var(--primary);
}

#tranfer_message_text h1 {
  text-align: left;
  padding-top: 0.25em;
  color: var(--primary);
  font-size: var(--header-size);
}

#tranfer_message_text p {
  padding-top: 0.75em;
  color: var(--text);
  font-size: var(--text-size);
}

#transfer_amount_container h2 {
  margin-top: 0.1em;
  text-align: center;
  color: var(--text);
  font-size: 6vw;
}

#transfer_message_details {
  margin-top: 2.5em;
  padding: 1em 1.25em;
  color: var(--text);
  border-radius: 0.75em;
  background-color: var(--backdrop);
}

#transfer_message_details span {
  font-weight: 400;
  margin-left: 0.25em;
}

#transfer_message_details h3 {
  font-size: var(--text-size);
  font-weight: 600;
  margin-bottom: 0.5em;
}

#transfer_message_details #transfer_type_heading {
  margin-bottom: 0em;
}

/* otp verify button styling */
.verify-section {
  text-align: center;
}

.verify-button {
  width: 100%;
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--text-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.2s ease-in-out, transform 0.2s;
}

.verify-button:hover {
  transform: scale(1);
  box-shadow: 0 0 25px rgba(19, 91, 236, 0.5);
}

.verify-button:active {
  transform: scale(0.95);
}

/* feedback_test */
#feedback_test {
  height: auto;
  font-size: 0.5vw;
}

#transfer_failed {
  padding-left: 3em;
}

/* button styling */
#tranfer_message_text button {
  margin-top: 1em;
  width: 20%;
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--text-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.2s ease-in-out, transform 0.2s;
}

#tranfer_message_text button:hover {
  transform: scale(1);
  box-shadow: 0 0 25px rgba(19, 91, 236, 0.5);
}

#tranfer_message_text button:active {
  transform: scale(0.95);
}

/* resend code link styling */
.resend-code {
  margin-top: 3%;
  font-size: 1.3vw;
  text-align: center;
  color: var(--text);
}

.resend-code a {
  color: var(--primary);
  margin-top: 1.5%;
  text-decoration: none;
  position: relative;
}

.resend-code a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.resend-code a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding: 6px;
  position: relative;
  height: 1.6em;
  width: 3.75em;
  transform: scale(1);
}

.label .ball {
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 1.1em;
  width: 1.1em;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(33px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}

svg {
  width: 85%;
}

svg#freepik_stories-plain-credit-card:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #freepik--Floor--inject-47 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-plain-credit-card.animated #eli0g7s240ry {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-plain-credit-card.animated #el4yr7nuydp3o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.02s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elhpqqs3xmfkq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.04s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #ela4iqnbjuswv {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.06s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el31bumut23rl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.08s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #ele61m6wivtzq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.1s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elqw5jjer41m {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.12s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el1vsjv2fwqpx {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.14s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #els8efebd2qu {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.16s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elhfwx6oegcto {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.18s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el7efi5dwa2s8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.2s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #eleqii3c19yes {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.22s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elvmrxq89m4e8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.24s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elet7qx4dcvn4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.26s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elvodcjqb30oa {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.28s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #eluyf78xyv3q {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elutw0jbjobo {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.32s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #ellygiyh93qi {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.34s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el8qz6i7k62sp {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.36s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el4hcqlqirej4 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.38s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elxowuics7u3f {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.4s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elv9qfcq35b1 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.42s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #eltpbm8iq61hf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.44s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el2fbw2pfovis {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.46s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el7hmfibhbb3o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.48s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elugj5tvb23ts {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elsi08dg6d02 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.52s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elhpmoj1w3s8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.54s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elusx7ttnjqz {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.56s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el6nrcrrmnv1c {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.58s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elv8b1nwv4w0d {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el4cy17468ypl {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.62s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #eldt1buz8e49s {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.64s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el6qbj9rsxl2f {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.66s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #eln28nkl98d {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.68s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el5rlnl3jo7tg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7000000000000001s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elx7kja2conci {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.72s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el47401wmeile {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.74s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elg2jp6jlfbt7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.76s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #els5xkfaq5np {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.78s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el03f1qpnduqi {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elmfbora516lq {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8200000000000001s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elhzu0qd2tksc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.84s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #ellqlmufonnjp {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.86s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elp25ss6esr1 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.88s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elyckrpmzq3i {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elnh4g46zce4l {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.92s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el2f1aobs1xml {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9400000000000001s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el8rwr2y2mdem {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.96s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elhxkhwrnp7kj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.98s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #freepik--Device--inject-47 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-plain-credit-card.animated #eljdsvjxggqf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-plain-credit-card.animated #elqc80pcw311f {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.05263157894736842s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el7frflm6nbl2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.10526315789473684s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el1crf6ip3u2k {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.15789473684210525s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #eli691a8pjvig {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.21052631578947367s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el2sj09kmmziw {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.2631578947368421s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el0p7oz0uftfxe {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.3157894736842105s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el60ofrv36w0o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.3684210526315789s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elssbbzk42hlh {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.42105263157894735s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #eljc8k74p76vi {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.47368421052631576s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elt40sfj3pr1r {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.5263157894736842s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el49hftl8j0ud {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.5789473684210527s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #el8xgvoq3auax {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.631578947368421s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elzolzq2i5pb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.6842105263157894s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elfoq4t7zi6s7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.7368421052631579s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elqwec64vq8t {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.7894736842105263s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elrf4dbflox9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.8421052631578947s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elb7so2vppdv {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.894736842105263s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #elk9amnk3dcfs {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.9473684210526315s;
  opacity: 0;
}
svg#freepik_stories-plain-credit-card.animated #freepik--Icon--inject-47 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-plain-credit-card.animated #freepik--Character--inject-47 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight,
    6s Infinite linear wind;
  animation-delay: 0s, 1s;
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
.animator-hidden {
  display: none;
}
