@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --title-size: 2.8em;
  --nav-size: 1.4em;
  --super-header-size: 5em;
  --header-size: 2.5em;
  --subheader-size: 1.4em;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #b1caff;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #246af8;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #08193a;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 1.5em;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--background);
  overflow: hidden; /* prevents scrolling */
}

/*header styling */

header {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  color: var(--text);
  align-items: center;
  justify-content: space-between;
}

#apex_logo {
  display: flex;
  align-items: center;
}

#apex_logo img {
  width: 45px;
  height: auto;
  margin-right: 15px;
}

#apex_logo h1 {
  font-weight: 700;
  font-size: var(--title-size);
  background-image: linear-gradient(
    to right,
    #034694,
    #1560bd,
    #03a8ea,
    #042c8b
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 5s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  display: flex;
  gap: 3em;
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-size: var(--nav-size);
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

nav a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary);
  transition: width 0.3s;
}

nav a:hover {
  color: var(--accent);
  transform: scale(1.1);
}

nav a:hover::before {
  width: 100%;
}

/* home text styling */
#home_container {
  height: 80vh;
  display: flex;
  margin: 0 auto;
  outline: 0px solid blue;
  justify-content: space-between;
}

.home-text,
.home-image-container {
  outline: 0px dotted blue;
  flex-grow: 1;
}

.home-text {
  padding-top: 3em;
  margin-left: 2em;
  max-width: 50%;
}

.home-text h1 {
  color: var(--text);
  font-size: var(--super-header-size);
}

.home-text span {
  color: var(--primary);
}

.home-text p {
  outline: 0px dotted blue;
  margin-top: 1.5em;
  max-width: 90%;
  text-align: justify;
  line-height: 1.5;
  color: var(--text);
  font-size: var(--subheader-size);
}

.home-desc {
  font-size: var(--subheader-size);
}

/* home image styling */

.home-image-container {
  padding: 0;
  margin: 0;
  outline: 0px dotted blue;
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: right;
}

.home-image-container img {
  outline: 0px dotted blue;
  max-width: 100%;
  object-fit: fill;
}

/* home buttons styling */
.button-container {
  outline: 0px dotted blue;
  margin-top: 2em;
  display: flex;
  align-items: center;
  max-width: 100%;
  font-size: var(--subheader-size);
}

#button_create,
#button_login {
  margin-right: 1.5em;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, 
  box-shadow 0.3s ease-in-out, 
  transform 0.2s;
}

#button_create {
  background-color: var(--primary);
  color: #eff1f5;
}

#button_login {
  background-color: #bdd3ff;
  color: #183d87;
}

#button_login i {
  align-items: center;
  font-size: 1.1em;
  margin-top: 0.2em;
  margin-left: 0.5em;
}

#button_create:hover,
#button_login:hover {
  transform: scale(1);
  box-shadow: 0 0 25px rgba(19, 91, 236, 0.5);
}

#button_create:active,
#button_login:active {
  transform: scale(0.95);
}

/* Light/Dark theme toggle */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 25px;
  width: 55px;
  transform: scale(1);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 20px;
  width: 20px;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(30px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}
