@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --header-size: 3vw;
  --subheader-size: 1.5vw;
  --button-size: 1.5vw;
  --text-size: 1.5vw;
  --sidebar-header: 2.2vw;
  --tab-size: 1.5vw;
  --section-title: 3.5vw;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
  --sidebar: #d7e4fb;
  --destruct: #b60000;
  --ball: #cee0ff;
  --close: #a80404;
  --modal: #d7e4fb;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #246af8;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #081023;
  --sidebar: #09132a;
  --destruct: #b30000;
  --ball: #2d73fe;
  --close: #b80000;
  --modal: #0d1c3f;
}

* {
  margin: 0;
  padding: 0;
  border: 2;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  background-color: var(--background);
}

/* positions the sidebar and main section side by side */
.transaction-page-container {
  display: flex;
}

/* sidebar styling */
.apex-user-sidebar {
  width: 19vw;
  top: 0;
  position: sticky;
  height: 100vh;
  overflow: hidden;
  background-color: var(--sidebar);
}

/* sidebar layout */
.apex-user-sidebar {
  display: grid;
  grid-template-areas:
    "logo"
    "tab"
    "config";
  grid-template-rows: 16% 55% 29%;
  grid-row-gap: 1%;
}

.apex-logo-container {
  grid-area: logo;
  outline: 0px solid red;
}

.apex-tab-container {
  grid-area: tab;
  outline: 0px solid hotpink;
}

.apex-config-container {
  grid-area: config;
  outline: 0px solid green;
}

/* apex-logo-container layout */
.apex-logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 12%;
}

.apex-logo-container img {
  width: 2.1em;
  height: auto;
  margin-right: 10px;
}

.apex-logo-container h1 {
  font-size: var(--sidebar-header);
  background-image: linear-gradient(
    to right,
    #0038a8,
    #246af8,
    #0084ff,
    #1f5cd6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 5s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* apex-tab-container layout */
.apex-tab-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.apex-tab-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  outline: 0px solid saddlebrown;
}

.tab-section .material-icons {
  font-size: 1.2em;
}

.tab-section {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  color: var(--text);
  font-size: var(--tab-size);
  font-weight: 500;
  position: relative;
  outline: 0px solid blue;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.tab-section:hover::before {
  opacity: 0.5;
}

.tab-section:hover {
  color: var(--primary);
  transform: translateX(5px);
}

/* turns the current tab color to selected color */
.apex-tab-wrapper #transactions {
  color: var(--primary);
}

/* removes the theme tab slide effect */
.apex-tab-wrapper #theme:hover {
  transform: translateX(0px);
}

/* modify the color of the logout tab */
.apex-tab-wrapper #logout {
  color: var(--destruct);
}

.apex-tab-wrapper #logout::before {
  background-color: #ab0000;
}

.apex-tab-wrapper #logout:hover::before {
  opacity: 0.2;
}

/*transaction main page */
.apex-transaction-container {
  flex: 1;
  display: grid;
  grid-template-areas: "form side";
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 3em;
  padding-right: 3em;
  border: 0px dashed red;
  grid-template-columns: 50% 50%;
}

.transaction-form {
  grid-area: form;
  margin-right: 1em;
  border: 0px dashed green;
}

.transaction-side {
  grid-area: side;
  margin-left: 1em;
  border: 0px dashed blueviolet;
}

/*transaction heading */
#transaction-heading {
  border: 0px dashed orange;
}

#transaction-heading h1 {
  padding-bottom: 0.25em;
  color: var(--primary);
  font-size: var(--section-title);
  border: 0px dashed blueviolet;
}

/*transaction option styling */
.transaction-option {
  display: flex;
  border: 0px dashed blueviolet;
}

.deposit-desc,
.withdraw-desc {
  border: 0px dashed black;
  margin-top: 1em;
  display: none;
}

.deposit-desc h2,
.withdraw-desc h2 {
  color: var(--text);
  font-weight: 400;
  font-size: 1.3vw;
  transition: color 0.3s ease-in-out;
}

/*transaction form general styling*/
.transaction-form-wrapper form {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  border: 0px dashed blue;
}

.transaction-form-wrapper form label {
  font-weight: 600;
  color: var(--text);
  font-size: var(--subheader-size);
  transition: color 0.3s ease-in-out;
}

.transaction-form-wrapper input {
  margin-bottom: 2em;
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--text-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.transaction-form-wrapper input::placeholder {
  font-size: 1.25vw;
  color: var(--text);
  opacity: 0.25;
}

/* Common styles for both light and dark themes */
.transaction-form-wrapper select {
  margin-bottom: 2em;
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--text-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.form-group:focus-within label,
.form-group input:focus,
.form-group select:focus {
  color: var(--accent);
}

.form-group input:focus,
.form-group select:focus {
  border-bottom: 2px solid var(--primary);
}

.form-group select option {
  background-color: var(--backdrop);
  color: var(--text); /* Set the desired text color for options */
}

.form-group label {
  display: flex;
  align-items: center;
}

.form-group span {
  margin-right: 0.5em;
}

/* forms transition */
.transaction-form-wrapper {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show-form {
  display: block;
  opacity: 1;
}

.transaction-buttons {
  display: flex;
  gap: 1em;
}

.transaction-buttons #deposit_submit,
.transaction-buttons #withdraw_submit {
  width: 80%;
}

.transaction-buttons #reset {
  width: 20%;
  background-color: #bdd3ff;
  color: #183d87;
}

.transaction-form-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--button-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.transaction-form-wrapper button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.transaction-form-wrapper button:active {
  transform: scale(0.95);
}

.transaction-form-wrapper button span {
  margin-left: 0.5em;
  font-size: 1.1em;
  transition: transform 0.3s ease-in-out;
}


.transaction-option button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 0.25em;
  margin-right: 1.75em;
  font-weight: 600;
  color: var(--text);
  font-size: var(--button-size);
  transition: color 0.4s, text-decoration 0.4s;
  position: relative;
}

.transaction-option button span {
  margin-right: 0.5em;
}

.transaction-option button.active,
.transaction-option button:hover {
  color: var(--primary);
}

.transaction-option button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1.5px;
  background-color: var(--primary);
  transition: width 0.4s;
}

.transaction-option button.active::before {
  width: 100%;
}

.transaction-option #internal-transaction-btn {
  margin-left: 0em;
}

#internal-transaction-form {
  display: none;
}

#account_balance_deposit,
#account_balance_withdraw {
  pointer-events: none;
}

/* --------------- TRANSFER SIDE ------------*/
#transfer_mini_account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text);
}

#transfer_mini_account_text {
  text-align: end;
}

#transfer_mini_account_text h3 {
  font-size: 1.4vw;
  font-weight: 600;
}

#transfer_mini_account_text h4 {
  font-size: 1.25vw;
  font-weight: 400;
}

#transfer_mini_account_image {
  width: 9%;
  margin-top: 0.3em;
  margin-left: 1.45em;
}

#transfer_mini_account_image img {
  width: 100%;
}

/* transfer side image */
#transfer_image_container {
  width: 100%;
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 15%;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6em;
  padding: 6px;
  position: relative;
  height: 1.3vw;
  width: 3vw;
  transform: scale(1);
}

.label .ball {
  background-color: var(--ball);
  border-radius: 50%;
  position: absolute;
  top: 0.4vh;
  left: 0.2vw;
  height: 0.9vw;
  width: 0.9vw;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(1.65vw);
}

.fa-moon,
.fa-sun {
  margin-top: 1px;
  font-size: 0.52em;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}

svg {
  width: 100%;
}

svg#freepik_stories-atm-machine:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #freepik--Floor--inject-244 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-atm-machine.animated #el7xd6fqk4n {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-atm-machine.animated #elfuweilj699d {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.027777777777777776s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elb4kxchthl5 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.05555555555555555s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elb6h879ywxub {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.08333333333333333s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elu44vt9v9x8m {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.1111111111111111s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elwrlalaofez8 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.1388888888888889s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elemdv8sbpwzr {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.16666666666666666s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #el496r14z98gb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.19444444444444442s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #eloixxe296c9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.2222222222222222s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elwsnkiul3qe {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.25s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elxa2bf4d10o {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.2777777777777778s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elmhcoknmkb {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3055555555555555s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elbhxqho0sh7l {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3333333333333333s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elbr6lpa66c6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.3611111111111111s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elyhhbi1x2a6 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.38888888888888884s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elo2bic1x2aw9 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.41666666666666663s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #el4d403rtu1m7 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.4444444444444444s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #el60vgqghpmyf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.4722222222222222s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elykldeoovgfn {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elt0jugp4cf2 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5277777777777778s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #el9bg2fctxqhh {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5555555555555556s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elgejdef7fxwg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.5833333333333333s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #el4x5us2209hm {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.611111111111111s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elrqmbmjmkerc {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6388888888888888s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #eljvacn0zw2qj {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6666666666666666s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elschyvgfu6bg {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.6944444444444444s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #eltma2yelt56c {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7222222222222222s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #el44zpe263ove {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.75s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #el5wzzq6rga55 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.7777777777777777s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elf58c9426r44 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8055555555555555s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elve8omo8o87 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8333333333333333s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elzji6jms51r {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.861111111111111s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #eli6jh6qdpho {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.8888888888888888s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elyjgifhjt4u {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9166666666666666s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #elfm787fquskf {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9444444444444444s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #ell16meq37t3e {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0.9722222222222222s;
  opacity: 0;
}
svg#freepik_stories-atm-machine.animated #freepik--Machine--inject-244 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-atm-machine.animated #freepik--speech-bubble--inject-244 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-atm-machine.animated #freepik--Plant--inject-244 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-atm-machine.animated #freepik--Character--inject-244 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animator-hidden {
  display: none;
}

/* ------- LOGOUT MODAL STYLING ------- */
.logout-acc-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 45vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  text-align: justify;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out {
  animation: zoomOut 0.5s;
}

#logout_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

.modal-content span {
  font-size: 2.5vw;
  font-weight: 700;
  color: var(--text);
}

#logout_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--text);
}

#confirmation_text {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 2vh;
}

.logout-acc-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.25vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.logout-acc-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 5vh;
}

.logout-acc-modal-buttons #cancel_button {
  color: #e1e9fa;
  background-color: var(--primary);
  width: 20%;
}

.logout-acc-modal-buttons #confirm_logout_button {
  color: #fcf6f6;
  background-color: var(--close);
  width: 40%;
}

.logout-acc-modal-buttons #cancel_button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.logout-acc-modal-buttons #confirm_logout_button:hover {
  box-shadow: 0 0 15px rgba(236, 19, 19, 0.5);
}

.logout-acc-modal-buttons button:active {
  transform: scale(0.9);
}

/* ------- CONFIRM DETAILS STYLING ------- */
.confirm-withdraw-modal,
.confirm-details-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.confirm-withdraw-modal-content,
.confirm-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 58vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  text-align: justify;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out-confirm {
  animation: zoomOut 0.5s;
}

#confirm_withdraw_heading_container,
#confirm_details_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

#confirm_withdraw_text,
#confirm_details_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--primary);
}

.confirm-withdraw-modal-content i,
.confirm-modal-content i {
  font-size: 2.3vw;
  color: var(--primary);
}

#confirmation_details_desc,
#confirmation_withdraw_desc {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 3vh;
}

#confirmation_details_display,
#confirmation_withdraw_display {
  font-size: 1.4vw;
  font-weight: 500;
  line-height: 1.5;
}

#confirmation_details_display strong,
#confirmation_withdraw_display strong {
  font-weight: 600;
}

.confirm-withdraw-modal-buttons button,
.confirm-details-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

#confirm_deposit_button span,
#confirm_withdraw_button span {
  font-size: 1.3vw;
  margin-left: 0.75vw;
  transition: transform 0.3s ease-in-out;
}

.confirm-withdraw-modal-buttons,
.confirm-details-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 6vh;
}

.confirm-withdraw-modal-buttons #confirm_withdraw_button,
.confirm-details-modal-buttons #confirm_deposit_button {
  color: #e1e9fa;
  background-color: var(--primary);
  width: 45%;
}

.confirm-withdraw-modal-buttons #cancel_withdraw_button, 
.confirm-details-modal-buttons #cancel_confirm_button {
  color: rgb(0, 61, 166);
  background-color: #bdd3ff;
  width: 20%;
}
.confirm-withdraw-modal-buttons #confirm_withdraw_button:hover,
.confirm-details-modal-buttons #confirm_deposit_button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.confirm-withdraw-modal-buttons #confirm_withdraw_button:hover span,
.confirm-details-modal-buttons #confirm_deposit_button:hover span {
  transform: translateX(5px);
}

.confirm-withdraw-modal-buttons #cancel_withdraw_button:hover,
.confirm-details-modal-buttons #cancel_confirm_button:hover {
  box-shadow: 0 0 15px rgba(102, 168, 255, 0.5);
}

.confirm-withdraw-modal-buttons button:active,
.confirm-details-modal-buttons button:active {
  transform: scale(0.9);
}

/* ------- TRANSACTION SUCCESS STYLING ------- */
.transaction-success-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.success-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 43vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  text-align: justify;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out-confirm {
  animation: zoomOut 0.5s;
}

#transaction_success_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

#success_details_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--primary);
}

#transaction_success_desc {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 3vh;
}


.success-modal-content i {
  font-size: 2.3vw;
  color: var(--primary);
}

.transaction-success-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.transaction-success-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 6vh;
}

.transaction-success-modal-buttons #close_success_button {
  color: #e1e9fa;
  background-color: var(--primary);
  width: 20%;
}

.transaction-success-modal-buttons #close_success_button:hover {
  box-shadow: 0 0 15px rgba(19, 91, 236, 0.5);
}

.transaction-success-modal-buttons button:active {
  transform: scale(0.9);
}

#settings {
  opacity: 0;
  pointer-events: none;
}

/* ------- TRANSFER ERROR MODAL STYLING ------- */
.transfer-error-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.transfer-error-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  min-height: 40vh;
  border-radius: 1em;
  color: var(--text);
  transform: translate(-50%, -50%);
  background-color: var(--modal);
  padding: 5vh;
  animation: zoomIn 0.5s;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.zoom-out-confirm {
  animation: zoomOut 0.5s;
}

#transfer_error_heading_container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 3vh;
}

#transfer_error_text {
  font-size: 2.75vw;
  font-weight: 700;
  color: var(--primary);
}

.transfer-error-modal-content i {
  font-size: 2.3vw;
  color: var(--primary);
}

#transfer_error_desc {
  font-size: 1.4vw;
  line-height: 1.5;
  margin-bottom: 5vh;
  text-align: justify;
}

.transfer-error-modal-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.3vw;
  border-radius: 0.5vw;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.transfer-error-modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1.5vw;
  margin-top: 8vh;
}

.transfer-error-modal-buttons #try_again_button {
  color: #e1e9fa;
  background-color: var(--primary);
  width: 25%;
}

.transfer-error-modal-buttons #try_again_button:hover {
  box-shadow: 0 0 15px rgba(102, 168, 255, 0.5);
}

.transfer-error-modal-buttons button:active {
  transform: scale(0.9);
}