@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --title-size: 3vw;
  --header-size: 3.2vw;
  --button-size: 1.5vw;
  --text-size: 1.4vw;
  --otp-size: 2.5vw;
}


:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #246af8;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #081023;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0em;
  padding: 0;
  height: 100vh;
  overflow-x: hidden; /*hides the overflow section */
  box-sizing: border-box;
  background-color: var(--background);
}

/* otp page grid layout */
#otp_grid_container {
  display: grid;
  grid-template-areas:
    "header image"
    "back image"
    "login image";
  grid-template-rows: 0.23fr 5% 1fr;
  grid-template-columns: 1fr 1fr;
}

#header_container {
  grid-area: header;
  outline: 0px dashed blue;
}

#back_container {
  grid-area: back;
  outline: 0px dashed red;
}

#otp_container {
  grid-area: login;
  outline: 0px dashed green;
}

#otp_image_container {
  height: 100vh;
  grid-area: image;
  background-color: var(--backdrop);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#otp_image_container img {
  width: 70%;
}

/* header styling */
#header_container {
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  color: var(--text);
  align-items: center;
  justify-content: space-between;
}

#apex_logo {
  display: flex;
  align-items: center;
}

#apex_logo img {
  width: 45px;
  height: auto;
  margin-right: 15px;
}

#apex_logo h1 {
  font-weight: 700;
  font-size: var(--title-size);
  background-image: linear-gradient(
    to right,
    #0038a8,
    #246af8,
    #0084ff,
    #1f5cd6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 3s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* back button styling */
#back_container {
  padding-left: 3em;
}

#back_container i {
  font-size: 1.2vw;
  margin-top: 0.05em;
  margin-right: 0.5em;
  color: var(--accent);
}

#back_container a {
  font-size: 1.4vw;
  color: var(--accent);
  text-decoration: none;
  display: flex;
  align-items: center;
}

#back_container a:hover {
  animation: backSlideLeft 1s infinite;
}

#back_container a:hover i,
#back_container a:hover span {
  animation: backSlideLeft 1s infinite;
}

@keyframes backSlideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}


/* otp text styling */
#otp_container {
  padding-left: 3em;
}

#otp_text {
  max-width: 90%;
  line-height: 1.5;
  text-align: justify;
}

#otp_text i {
  font-size: 0.9em;
  margin-right: 2.5%;
  color: var(--primary);
}

#otp_text h1 {
  text-align: left;
  padding-top: 0.25em;
  color: var(--text);
  font-size: var(--header-size);
}

#otp_text p {
  padding-top: 0.75em;
  color: var(--text);
  font-size: var(--text-size);
}

/* otp form styling */
.otp-form-container {
  margin-top: 3%;
  max-width: 90%;
}

/* otp input fields styling */
.otp-fields {
  display: flex;
  justify-content: space-between;
}

.otp-input {
  margin-bottom: 1.5em;
  width: 10%;
  height: 1.75em;
  border: none;
  outline: none;
  background: transparent;
  text-align: center;
  font-weight: 700;
  font-size: var(--otp-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.otp-fields:focus-within label,
.otp-fields input:focus {
  color: var(--primary);
}

.otp-fields input:focus {
  border-bottom: 2px solid var(--primary);
}

/* otp verify button styling */
.verify-section {
  text-align: center;
}

.verify-button {
  width: 100%;
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--text-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, 
  box-shadow 0.2s ease-in-out, 
  transform 0.2s;
}

.verify-button:hover {
  transform: scale(1);
  box-shadow: 0 0 25px rgba(19, 91, 236, 0.5);
}

.verify-button:active {
  transform: scale(0.95);
}

/* feedback_test */

#feedback_test {
  height: auto;
  font-size: 0.5vw;
}

/* button styling */

#otp_text button {
  margin-top: 1em;
  width: 20%;
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--text-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, 
  box-shadow 0.2s ease-in-out, 
  transform 0.2s;
}

#otp_text button:hover {
  transform: scale(1);
  box-shadow: 0 0 25px rgba(19, 91, 236, 0.5);
}

#otp_text button:active {
  transform: scale(0.95);
}



/* resend code link styling */
.resend-code {
  margin-top: 2%;
  text-align: center;
}

.resend-code a {
  color: var(--primary);
  margin-top: 1.5%;
  text-decoration: none;
  position: relative;
}

.resend-code a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.resend-code a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding: 6px;
  position: relative;
  height: 1.6em;
  width: 3.75em;
  transform: scale(1);
}

.label .ball {
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 1.1em;
  width: 1.1em;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(33px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}