body {
    background-color: #0a180a;
    --primary: #246af8;
    --secondary: #1d4492;
    --accent: #3a7afb;
    --font-family: "Inter", sans-serif;
    --title-size: 3vw;
    --header-size: 3.2vw;
    --button-size: 1.5vw;
    --text-size: 1.4vw;
    --otp-size: 2.5vw;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0a180a;
    color: #333;
}

h1 {
    color: #246af8;
}

p {
    line-height: 1.6;
    color: #eff1f5;
}

h3 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-top: 20px;
}

/* Style links in the text */
a {
    color: #3498db;
    text-decoration: underline;
}

a:hover {
    color: #1c87c9; /* Darker shade of blue on hover */
    text-decoration: none; /* Remove underline on hover */
}
/* back button styling */
#back_button {
    padding-left: 3em;
  }
  
  #back_button i {
    font-size: 1.2vw;
    margin-top: 0.05em;
    margin-right: 0.5em;
    color: var(--accent);
  }
  
  #back_button a {
    font-size: 1.4vw;
    color: var(--accent);
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  #back_button a:hover {
    animation: backSlideLeft 1s infinite;
  }
  
  #back_button a:hover i,
  #back_button a:hover span {
    animation: backSlideLeft 1s infinite;
  }