@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Inter", sans-serif;
  --title-size: 3vw;
  --header-size: 3vw;
  --subheader-size: 1.6vw;
  --button-size: 1.5vw;
  --text-size: 1.5vw;
  --subtext-size: 1.2vw;
}

:root[data-theme="light"] {
  --text: #0a0c10;
  --background: #e7edfb;
  --primary: #1e51b8;
  --secondary: #7aa2f9;
  --accent: #1f5cd6;
  --backdrop: #d7e4fb;
}
:root[data-theme="dark"] {
  --text: #eff1f5;
  --background: #0a0e18;
  --primary: #246af8;
  --secondary: #1d4492;
  --accent: #3a7afb;
  --backdrop: #081023;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  margin: 0em;
  padding: 0;
  height: 100vh;
  overflow-x: hidden; /*hides the overflow section */
  box-sizing: border-box;
  background-color: var(--background);
}

/* register page grid layout */
#register_grid_container {
  display: grid;
  grid-template-areas:
    "header image"
    "back image"
    "login image";
  grid-template-rows: 7.5% 3% 1fr;
  grid-template-columns: 1fr 1fr;
}

#header_container {
  grid-area: header;
  outline: 0px dashed blue;
}

#back_container {
  grid-area: back;
  outline: 0px dashed red;
}

#register_container {
  grid-area: login;
  outline: 0px dashed green;
  padding-bottom: 5%;
}

#register_image_container {
  grid-area: image;
  background-color: var(--backdrop);
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#register_image_container img {
  width: 80%;
}

/* header styling */
#header_container {
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  color: var(--text);
  align-items: center;
  justify-content: space-between;
}

#apex_logo {
  display: flex;
  align-items: center;
}

#apex_logo img {
  width: 45px;
  height: auto;
  margin-right: 15px;
}

#apex_logo h1 {
  font-weight: 700;
  font-size: var(--title-size);
  background-image: linear-gradient(
    to right,
    #0038a8,
    #246af8,
    #0084ff,
    #1f5cd6
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: apexLogoAnimation 3s linear infinite;
}

@keyframes apexLogoAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* back button styling */
#back_container {
  padding-left: 3em;
}

#back_container i {
  font-size: 1.2vw;
  margin-top: 0.05em;
  margin-right: 0.5em;
  color: var(--accent);
}

#back_container a {
  font-size: 1.4vw;
  color: var(--accent);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 10%;
}

#back_container a:hover {
  animation: backSlideLeft 1s infinite;
}

#back_container a:hover i,
#back_container a:hover span {
  animation: backSlideLeft 1s infinite;
}

@keyframes backSlideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

/* register text styling */
#register_container {
  padding-left: 3em;
}

#register_text h1 {
  color: var(--text);
  font-size: var(--header-size);
}

#register_text p {
  padding-top: 0.75em;
  color: var(--text);
  font-size: var(--text-size);
}

/* register form styling */
.register-form-container {
  max-width: 90%;
  margin-top: 2em;
}

.form-super-group {
  display: flex;
}

.form-group .middle_name,
.form-group #middle_name {
  margin-left: 10%;
  width: 90%;
}

.form-group .dob,
.form-group #dob {
  margin-left: 10%;
  width: 90%;
}

.register-heading {
  color: var(--accent);
  font-size: 1.075em;
}

.register-heading p {
  padding-left: 3%;
  padding-bottom: 2%;
}

.register-heading p em {
  font-size: 0.8em;
  color: var(--accent);
}

.asterisk {
  color: var(--accent);
}

.suffix,
#suffix {
  width: 95%;
}

.contact-information-section,
.password-information-section {
  margin-top: 2%;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: 600;
  color: var(--text);
  font-size: var(--subheader-size);
  transition: color 0.3s ease-in-out;
}

.form-group input {
  margin-bottom: 2em;
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--text-size);
  color: var(--text);
  caret-color: var(--text);
  border-bottom: 2px solid var(--text);
  transition: border-color 0.3s ease-in-out;
}

.form-group input::placeholder {
  font-size: 1.05vw;
  color: var(--text);
  opacity: 0.5;
}

.form-group #password_format {
  color: var(--text);
  font-size: 1.1vw;
  transition: color 0.3s ease-in-out;
}

.form-group:focus-within #password_format,
.form-group:focus-within label,
.form-group input:focus {
  color: var(--accent);
}

.form-group input:focus {
  border-bottom: 2px solid var(--accent);
}

.password-container {
  position: relative;
}

/* register button styling */

.register-button {
  height: 2.5em;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: var(--button-size);
  border-radius: 10px;
  color: #e1e9fa;
  background-color: var(--primary);
  transition: background-color 0.3s, box-shadow 0.2s ease-in-out, transform 0.2s;
}

.register-button:hover {
  transform: scale(1);
  box-shadow: 0 0 25px rgba(19, 91, 236, 0.5);
}

.register-button:active {
  transform: scale(0.95);
}

.register-button i {
  margin-left: 0.5em;
}

/* login link styling */
.login-link {
  margin-top: 1em;
  text-align: center;
  position: relative;
  color: var(--text);
  font-size: var(--text-size);
}

.login-link a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.login-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.login-link a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.terms-and-policy {
  color: var(--text);
  margin-top: 2%;
  text-align: center;
}

.terms-and-policy a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

/* ------- LIGHT & DARK TOGGLE STYLING ------- */
#toggle_theme {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: var(--secondary);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2em;
  padding: 6px;
  position: relative;
  height: 1.6em;
  width: 3.75em;
  transform: scale(1);
}

.label .ball {
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  height: 1.1em;
  width: 1.1em;
  transform: translateX(1px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(33px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #042c8b;
}

svg {
  width: 100%;
}

svg#freepik_stories-credit-card:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #freepik--Floor--inject-1--inject-16 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #freepik--Shadow--inject-1--inject-16 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elqt8p9sslk2 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elx5but6g98us {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.03333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el1lbxvklg9z4 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.06666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elkivff67wvbo {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.1s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elm2girfydlc {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.13333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elwiqorfwt2w {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.16666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #ellgftxec6pbr {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elzttegngvytf {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.23333333333333334s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elca9olh171uq {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.26666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elb0v7jk0qter {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elg7afp1uwlag {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elhpupoew1zto {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.36666666666666664s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el2ukw4mr35w {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elp1t2rp9c2oe {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.43333333333333335s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5apk2hj1ke {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el0yqhhxwp0mnb {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elkqimu58t54 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.5333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elih570wilkr {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.5666666666666667s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elixhkwmoih3 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eltk61oyarpl {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el0op8vmhoh0s {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elij9oh5xnuh {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5z8qt3t972x {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7333333333333333s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eluz8ncsnp8h8 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7666666666666666s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #freepik--Bags--inject-1--inject-16 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #freepik--Plants--inject-1--inject-16 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #el5arjzqmi9e7 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elvmh3syogmiq {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.01951219512195122s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eltwp7wni3wga {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.03902439024390244s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #ela8a1puw9nd {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.058536585365853655s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elak00tq7tfys {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.07804878048780488s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eli3h0zblonwq {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.0975609756097561s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elsqzqvpa4obm {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.11707317073170731s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elbe0fcixbg0e {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.13658536585365855s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elkf9id7wpsrr {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.15609756097560976s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eljsed701g32c {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.17560975609756097s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elbrddbc9vkxe {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.1951219512195122s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eljxsha3byszh {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2146341463414634s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgn7tf9odk26 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.23414634146341462s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elft37rhctatq {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.25365853658536586s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elalj6rahcbvw {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2731707317073171s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elu5ocjrw8j1h {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2926829268292683s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elqzw59qvmb0k {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3121951219512195s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elhw5ee1j4c2 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.33170731707317075s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el6bgr2rum14y {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.35121951219512193s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elzz81ed7vyt9 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.37073170731707317s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el19l7lxxp608 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3902439024390244s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el46vmbrjhgpm {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4097560975609756s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eli0kaqnm8q7b {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4292682926829268s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elxocm0lcngg {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.44878048780487806s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el2f6mqkx19sb {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.46829268292682924s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el9cf9wos53fj {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4878048780487805s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5i9k3n8cy35 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.5073170731707317s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elnmuc9euu4u8 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.526829268292683s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el1b8ocwopcgj {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.5463414634146342s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el3go4mngzwbm {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.5658536585365853s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #ela4sceizrdp5 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.5853658536585366s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elcw6fb7rt2j {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6048780487804878s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elufux098wwv {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.624390243902439s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elny764syzceb {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6439024390243903s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el6mspqa2lza3 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6634146341463415s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgfm15xqdmz {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.6829268292682927s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el7uewaopvkcd {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7024390243902439s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eldf4g0mqm5sd {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7219512195121951s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgwn8hjjjwqn {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7414634146341463s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elqful2eq2z5k {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7609756097560976s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el2degeemlqb2 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.7804878048780488s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated
  #freepik--Calculator--inject-1--inject-16 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated
  #freepik--Character--inject-1--inject-16 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elyt1mdqy6cj {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-credit-card.animated #elcij0gxtsn5h {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.025806451612903226s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elccaez389klu {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.05161290322580645s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elr4gtvz1fi1b {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.07741935483870968s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elldsctyqydbl {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.1032258064516129s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elvkchrwcvczi {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.12903225806451613s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elog2xluq5g9 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.15483870967741936s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elmepd1p8k528 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.18064516129032257s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elr4b2jeato2 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.2064516129032258s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #els4pk845jbva {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.23225806451612904s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elsicgla6mhlj {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.25806451612903225s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elcmzsjrzmgr {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.2838709677419355s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elt8mpj6gm7r9 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.3096774193548387s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elpl9i2d81b9m {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.33548387096774196s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el3w0vcqeg10l {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.36129032258064514s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #eligyqu0dx6d {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.3870967741935484s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elxh6jqp2ldqe {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.4129032258064516s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el7p1m1apvhju {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.43870967741935485s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el11ucvpyntk2a {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.4645161290322581s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #ele4hpve4u5jq {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.49032258064516127s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5y8khlwyob9 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.5161290322580645s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elpwxlzib4fb {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.5419354838709678s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elhbnyt8gy8xj {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.567741935483871s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el452o2uv07ah {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.5935483870967742s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el8n62ijr598h {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.6193548387096774s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elgqohf7q2o4n {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.6451612903225806s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elpd4v5jqu5o {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.6709677419354839s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elzzcdorzh2m {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.6967741935483871s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #el5xg9vva7xbs {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.7225806451612903s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #elf9lr66eiycv {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.7483870967741936s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated #ellb5rfjg1u4 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0.7741935483870968s;
  opacity: 0;
}
svg#freepik_stories-credit-card.animated
  #freepik--credit-card--inject-1--inject-16 {
  animation: 0.8s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
.animator-hidden {
  display: none;
}
